@import "/src/index.scss";

.pagination {
    display: flex;
    box-sizing: border-box;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 25px 25px 29px;
    border-radius: 25px;
    overflow: hidden;

    @include vp-767 {
        padding: 0;
        border-radius: 20px;
        position: relative;

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            background-color: #EDEFF6;
        }


    }
}

.pagination__links {
    display: flex;
    flex-wrap: wrap;

    @include vp-767 {
        display: none;
    }
}

.pagination__link {
    box-sizing: border-box;
    width: 50px;
    min-height: 50px;
    border-radius: 50%;
    padding: 16px 10px 16px 10px;
    text-align: center;

    a {
        color: #1D2E5B;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        cursor: pointer;
    }

    &--active {
        background-color: #4D99D6;
    }

    &:hover {
        opacity: 0.6;
    }

    &:active {
        background-color: #4D99D6;
        opacity: 1;
    }
}
.pagination__buttons {
    margin: auto  0 auto auto;
    display: flex;

    @include vp-767 {
        width: 100%;
        margin: auto 0;
        justify-content: space-between;
    }
}
.pagination__button {
    display: block;
    width: 45px;
    height: 45px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../../src/assets/icons/page_arrow.svg);
    cursor: pointer;

    &--next {
        transform: rotate(180deg);
    }

    &:hover {
        opacity: 0.6;
    }

    &:active,
    &:disabled {
        opacity: 0.3;
    }

    &:disabled {
        cursor: auto;
    }

    @include vp-767 {
        width: 135px;
        height: 51px;
    }
}
