@import "/src/index.scss";
@import "/src/container.scss";

.country-filter {
    padding: 60px 0 102px 0;
    color: #192144;

    @include vp-1023 {
        padding: 65px 0 79px 0;
        background-color: #E2E5F2;
        border-radius: 0 0 50px 50px;
    }

    @include vp-767 {
        padding: 22px 0 28px 0;
        border-radius: 0 0 25px 25px;
    }
}

.country-filter .container {
    @include vp-1023 {
        padding: 0 79px 0 68px;
    }

    @include vp-767 {
        padding: 0 25px 0 25px;
    }
}

.country-filter__nav {
    display: flex;
    text-transform: uppercase;
    padding: 0 0 15px 0;

    & h2 {
        display: block;
        padding: 0 0 0 63px;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        max-width: 500px;
        word-wrap: break-word;
        background-repeat: no-repeat;
        background-position: top left 20px;
        background-image: url(../../../src/assets/icons/icon_filter.svg);
    }

    & fieldset {
        display: flex;
        padding: 0 0 0 6px;
        margin: 0;
        border: none;
    }

    & input {
        display: none;
    }

    & label {
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        padding: 0 0 0 0;
        margin: 0 25px 0 0;
        max-width: 100px;
        word-wrap: break-word;
        opacity: 0.3;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }

        &:active {
            opacity: 1;
        }
    }

    & input:checked + label {
        opacity: 1;
    }

    @include vp-1023 {
        & h2 {
            display: none;
        }

        & label {
            margin: 0 20px 0 0;
        }
    }

    @include vp-767 {
        display: grid;
        grid-template-areas: "title btn" "list list";

        & h2 {
            grid-area: title;
            display: block;
            padding: 0 0 0 27px;
            font-size: 16px;
            line-height: 18px;
            //max-width: 200px;
            background-position: top 3px left 0;
            background-size: 15.5px;
        }

        & fieldset {
            grid-area: list;
            display: block;
            padding: 14px 0 0 26px;
            padding: 0;
            margin: 0 auto;
            width: 100%;
            max-width: 218px;
        }

        & label {
            width: 100%;
            max-width: 218px;
            margin: 0 0 9px 0;
            font-size: 16px;
            line-height: 18px;
        }
    }
}

.country-filter__burger-btn {
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 19px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -1px;
    background-color: transparent;
    color: #192144;
    width: max-content;
    padding: 0 56px 0 0;
    margin: 0 0 0 auto;
    cursor: pointer;

    &::after {
        position: absolute;
        content: "";
        background-color:#192144;
        border-radius: 25px;
        width: 2px;
        height: 26px;
        transform: rotate(45deg);
        top: -6px;
        right: -2px;
    }

    &::before {
        position: absolute;
        content: "";
        background-color:#192144;
        border-radius: 25px;
        width: 2px;
        height: 26px;
        transform: rotate(-45deg);
        top: -6px;
        right: -2px;
    }

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.3;
    }

    @include vp-1023 {
        margin: 0 9px 0 auto;
        letter-spacing: 0px;
    }

    @include vp-767 {
        grid-area: btn;
        padding: 0;
        margin: 0 0 0 auto;

        &::after {
            width: 1.5px;
            height: 20px;
            top: -5px;
            right: 11px;
        }

        &::before {
            width: 1.5px;
            height: 20px;
            top: -5px;
            right: 11px;
        }

        & span {
            display: none;
        }
    }
}

.country-filter__alphabet-wrapper {
    position: relative;
    height: 0px;
    overflow: hidden;
    width: 100%;
    transition: 0.3s;
}
.country-filter__alphabet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 17px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    border: none;
    margin: 0;
    padding: 58px 35px 57px 35px;

    & .country-filter__list {
        padding: 30px 0 0 5px;
    }

    & .country-filter__letter-wrapper:nth-child(1) .country-filter__list {
        padding: 30px 0 0 0;
        margin: 0 0 0 -2px;
    }

    & .country-filter__letter-wrapper:nth-child(2n) .country-filter__list {
        padding: 30px 0 0 3px;
    }

    & .country-filter__letter-wrapper:nth-child(4n) .country-filter__list {
        padding: 30px 0 0 6px;
    }

    & .country-filter__letter-wrapper:nth-child(5n) .country-filter__list {
        padding: 30px 0 0 0;
    }

    @include vp-1023 {
        padding: 48px 229px 63px 8px;
        row-gap: 24px;

        & .country-filter__list {
            display: none;
        }
    }

    @include vp-767 {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr auto;
        width: 215px;
        row-gap: 0px;
        padding: 0 0 282px 0;
        left: 0;
        right: 0;
        margin: 0 auto;

        & .country-filter__list {
            padding: 0;
        }

        & .country-filter__letter-wrapper:nth-child(1) .country-filter__list {
            padding: 0;
        }

        & .country-filter__letter-wrapper:nth-child(2n) .country-filter__list {
            padding: 0;
        }

        & .country-filter__letter-wrapper:nth-child(4n) .country-filter__list {
            padding: 0;
        }

        & .country-filter__letter-wrapper:nth-child(5n) .country-filter__list {
            padding: 0;
        }
    }
}

.country-filter__letter {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #192144;

    @include vp-1023 {
        opacity: 0.4;
    }

    @include vp-767 {
        display: block;
        padding: 12px 15px;
        background-color: #FFFFFF;
        border: 1px solid #C9C9C9;
        height: 100%;
        min-height: 41px;
        width: 100%;
        opacity: 1;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
    }
}

.country-filter__input {
    display: none;

    @include vp-1023 {
        &:checked ~ .country-filter__list {
            display: block;
            position: absolute;
            top: 15px;
            right: 0;
            width: 171px;
            overflow: scroll;
            max-height: 500px;
        }

        &:checked ~ .country-filter__letter {
            opacity: 1;
        }
    }

    @include vp-767 {
        &:checked ~ .country-filter__letter {
            color: #FFFFFF;
            border: 1px solid #1D2E5B;
            background-color: #1D2E5B;
        }

        &:checked ~ .country-filter__list {
            top: 218px;
            right: 0;
            left: 0;
            width: 218px;
            max-height: 285px;
        }
    }
}



.country-filter__item {
    & input {
        display: none;
    }

    & label {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        color: #444444;
        word-wrap: break-word;
        cursor: pointer;
    }

    & label:hover {
        color: #1D2E5B;
    }

    & label:active {
        color: #1D2E5B;
        opacity: 0.3;
    }

    & input:checked + label {
        color: #1D2E5B;
        opacity: 0.3;
    }


    @include vp-767 {
        & label {
            font-size: 16px;
            line-height: 22px;
        }
    }
}

.country-filter__collapse-btn {
    box-sizing: border-box;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -0.8px;
    color: #192144;
    width: 100%;
    padding: 42px 37px 37px 37px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: #D6DAED;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

    & span {
        display: block;
        position: relative;
        width: max-content;
        padding: 0 0 0 43px;
        margin: 0 auto;
    }

    & span::after {
        position: absolute;
        content: "";
        background-color:#192144;
        border-radius: 25px;
        width: 2.8px;
        height: 28px;
        transform: rotate(45deg);
        top: -6px;
        left: 13px;
    }

    & span::before {
        position: absolute;
        content: "";
        background-color:#192144;
        border-radius: 25px;
        width: 2.8px;
        height: 28px;
        transform: rotate(-45deg);
        top: -6px;
        left: 13px;
    }

    &:hover {
        background-color:#C8CEE8;
    }

    &:active {
        background-color: #C8CEE8;
    }

    &:active span {
        opacity: 0.7;
    }

    @include vp-767 {
        font-size: 16px;
        padding: 12px 10px 10px 10px;

        & span {
            letter-spacing: 0.2px;
            padding: 0 0 0 30px;
        }

        & span::after {
            width: 1.5px;
            height: 15px;
            top: 0px;
            left: 13px;
        }

        & span::before {
            width: 1.5px;
            height: 15px;
            top: 0px;
            left: 13px;
        }
    }
}

// стили для развернутой формы
.country-filter--active {
    & .country-filter__burger-btn {
        &::after {
            content: "...";
            color: #192144;
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;
            letter-spacing: 3px;
            background-color: transparent;
            border-radius: 25px;
            width: auto;
            height: 28px;
            transform: rotate(0deg);
            top: -12px;
            left: auto;
            right: -7px;
        }

        &::before {
            display: none;
        }
    }

    & .country-filter__collapse-btn {
        & span {
            padding: 0 56px 0 0;
        }

        & span::after {
            content: "...";
            color: #192144;
            font-family: 'Times New Roman', Times, serif;
            font-size: 40px;
            letter-spacing: 3px;
            background-color: transparent;
            border-radius: 25px;
            width: auto;
            height: 28px;
            transform: rotate(0deg);
            top: -12px;
            left: auto;
            right: -7px;
        }

        & span::before {
            display: none;
        }
    }

    @include vp-1023 {
        padding: 65px 0 40px 0;

        & .country-filter__burger-btn {
            margin: 0 -26px 0 auto;
        }

        & .country-filter__collapse-btn {
            display: none;
        }
    }

    @include vp-767 {
        padding: 22px 0 0 0;

        & .country-filter__nav {
            & h2 {
                max-width: 245px;
            }
        }

        & .country-filter__burger-btn {
            margin: 0 0 0 auto;

            &::after {
                font-size: 20px;
                letter-spacing: 2px;
                height: 20px;
                top: -7px;
                left: auto;
                right: -3px;
            }
        }

        & fieldset {
            display: none;
        }
    }
}
