@import "/src/index.scss";

.contacts {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  gap: 7px;
  padding-top: 3px;
  max-width: 280px;

  @include vp-1023 {
    flex-direction: column;
    margin-bottom: 22px;
  }
}
