@import "/src/index.scss";
@import "/src/container.scss";

.filters {
  &__wrapper {
    background-color: $color-pattens-blue;
    border-radius: 20px;
    width: 285px;
    padding: 46px 48px 48px 46px;

    @include vp-1023 {
      width: 100%;
      padding: 37px 15px 36px 34px;
    }

    @include vp-767 {
      padding: 26px 25px 22px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: $color-catalina-blue;
    margin-bottom: 34px;
    position: relative;

    @include vp-1023 {
      padding-bottom: 37px;
      margin: 0 0 37px;
    }

    @include vp-767 {
      font-size: 22px;
      letter-spacing: 0.02em;
      padding-bottom: 0;
      margin: 0 0 22px;
    }

    &::after {
      content: "";
      width: 97%;
      height: 1px;
      background-color: $color-golden-dream;
      position: absolute;
      bottom: 0;
      left: 0;
      display: none;

      @include vp-1023 {
        display: block;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  &__legend {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    text-transform: uppercase;
    color: $color-catalina-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease;
    user-select: none;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @include vp-1023 {
      width: 120px;
    }

    @include vp-767 {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.125;
      width: 100%;
    }

    svg {
      width: 10px;
      height: 7px;
      transform: rotate(90deg);
      transition: transform 0.3s ease;

      @include vp-1023 {
        display: none;
      }

      @include vp-767 {
        display: block;
      }
    }

  }

  :global {
    .filters__legend--is-open {
      svg {
        transform: rotate(-90deg);
      }
    }
  }

  &__fieldset {
    margin: 0;
    padding: 0 0 18px;
    border: none;
    position: relative;

    @include vp-1023 {
      display: flex;
      align-items: center;
      padding: 0 0 20px;
      gap: 6px;
    }

    @include vp-767 {
      display: block;
      padding: 13px 0 9px;
    }

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-golden-dream;
      position: absolute;
      top: 0;
      left: 0;
      display: none;

      @include vp-767 {
        display: block;
      }
    }


    &--transport {
      padding-bottom: 16px;

      @include vp-1023 {
        padding-bottom: 10px;
      }

      @include vp-767 {
        padding-bottom: 19px;
      }
    }

    &--level {
      padding-bottom: 0;

      @include vp-1023 {
        padding-bottom: 37px;
      }

      @include vp-767 {
        padding-bottom: 0;
      }

      &::after {
        content: "";
        width: 97%;
        height: 1px;
        background-color: $color-golden-dream;
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;

        @include vp-1023 {
          display: block;
        }

        @include vp-767 {
          display: none;
        }

      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;

    @include vp-1023 {
      max-height: none;
      flex-grow: 1;
      display: grid;
      grid-template-columns: 163px 163px 170px;
      gap: 7px;
    }

    @include vp-767 {
      max-height: 0;
      display: flex;
      grid-template-columns: none;
      gap: 10px;
    }

    &--transport {
      flex-direction: row;
      gap: 0;

      @include vp-1023 {
        display: flex;
        gap: 1px;
        margin-top: -7px;
      }

      .filters__item,
      .filters__item:first-child,
      .filters__item:last-child {
        margin: 18px 0 18px;

        @include vp-1023 {
          margin: 0;
        }

        @include vp-767 {
          margin-top: 22px;
        }
      }
    }
  }

  &__item {
    @include vp-1023 {
      padding: 3px 0;
    }

    @include vp-767 {
      padding: 0;
    }

    &:first-child {
      margin-top: 25px;

      @include vp-1023 {
        margin: 0;
      }

      @include vp-767 {
        margin-top: 15px;
      }
    }

    &:last-child {
      margin-bottom: 14px;

      @include vp-1023 {
        margin: 0;
      }

      @include vp-767 {
        margin-bottom: 7px;
      }
    }
  }

  &__slider-inputs {
    display: flex;
    width: auto;
    margin-bottom: 36px;
    position: relative;

    @include vp-1023 {
      width: 148px;
      order: 1;
      margin: 0 0 0 63px;
    }

    @include vp-767 {
      width: auto;
      order: 0;
      margin: 11px 0 36px;
    }

    &::before {
      content: "";
      width: 20px;
      height: 1px;
      background-color: $color-link-water;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    &::after {
      content: "";
      width: 20px;
      height: 14px;
      background-color: $color-default-white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__input {
    width: 50%;
    height: 46px;
    border: 1px solid $color-link-water;
    background-color: $color-default-white;
    font-family: inherit;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.04em;
    color: $color-catalina-blue;
    text-align: center;
    transition: border 0.3s ease;

    @include vp-767 {
      font-size: 14px;
      line-height: 0.92857;
      letter-spacing: 0.06em;
    }

    @include vp-767 {
      height: 35px;
    }

    &:hover {
      border-color: $color-rock-blue;
      & + .filters__input--max {
        border-left-color: $color-rock-blue;
      }
    }

    &:active,
    &:focus-visible {
      border-color: $color-midnight-express-2;
      outline: none;
      & + .filters__input--max {
        border-left-color: $color-midnight-express-2;
      }
    }

    &--min {
      border-right: none;
      border-radius: 4px 0 0 4px;
    }

    &--max {
      border-radius: 0 4px 4px 0;
    }
  }

  &__button {
    background-color: $color-default-white;
    border-radius: 25px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: $color-midnight-express-2;
    min-width: 194px;
    min-height: 50px;
    letter-spacing: -0.02em;
    padding: 13px 15px 5px 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
    user-select: none;
    cursor: pointer;

    @include vp-1023 {
      margin-top: 37px;
      width: 618px;
    }
    @include vp-767 {
      font-size: 17px;
      width: 100%;
      min-height: 41px;
      margin-top: 12px;
    }

    &:hover {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
    }

    &:active {
      background-color: $color-picton-blue;
      color: rgba($color-midnight-express, 0.3);
    }
  }

  &__slider-wrapper {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.6s ease-in-out;
    margin-top: 20px;

    @include vp-1023 {
      max-height: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 20px 0 0;
    }

    @include vp-767 {
      max-height: 0;
      display: block;
      margin: 0;
    }

    :global {
     .noUi-target {
       height: 3px;
       border-radius: 2px;
       background-color: rgba($color-catalina-blue, 0.2);
       border: none;
       box-shadow: none;
       top: -2px;
       margin: 0 auto 40px;
       width: 90%;

       @include vp-1023 {
        width: 281px;
        top: 0;
        margin-bottom: 0;
       }

       @include vp-767 {
        width: 100%;
        top: -12px;
       }
      }

      .noUi-connect {
        height: 3px;
        border-radius: 2px;
        background-color: $color-catalina-blue;
      }

      .noUi-horizontal .noUi-handle {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: none;
        background-color: $color-catalina-blue;
        box-shadow: none;
        right: 0;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.4615);
        }

        &:active {
          transform: scale(1.4615);
          box-shadow: 0px 3px 7px 0px rgba($color-default-black, 0.24);
        }

        &.noUi-handle-lower {
          right: -9px;
        }

        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
}

.custom-toggle {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  transition: opacity 0.3s ease;
  user-select: none;
  cursor: pointer;

  @include vp-767 {
    gap: 9px;
  }

  &__input {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  &__icon {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: $color-default-white;
    top: -2px;

    @include vp-767 {
      width: 18px;
      height: 18px;
    }

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
    }
  }

  input:checked + .custom-toggle__icon {
    svg {
      display: block;
    }
  }

  &__label {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: $color-default-black;
    transition: opacity 0.3s ease;

    @include vp-767 {
      font-size: 15px;
      line-height: 1.333;
    }
  }

  &:hover {
    .custom-toggle__label {
      opacity: 0.6;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &:focus-within {
    .custom-toggle__icon {
      outline: 1px solid $color-catalina-blue;
      outline-offset: -1px;
    }
  }
}

.toggle-transport {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $color-default-white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  cursor: pointer;

  @include vp-767 {
    width: 32px;
    height: 32px;
  }

  &__icon {
    svg {
      color: $color-gainsboro;
      transition: color 0.3s ease, opacity 0.3s ease;

      @include vp-767 {
        width: 17px;
        height: 16px;
      }
    }
  }

  &:hover {
    box-shadow: 0 2px 6px 0 rgba(22, 28, 53, 0.17);

    .toggle-transport__icon {
      svg {
        color: $color-pink-swan;
      }
    }
  }

  &:active {
    background-color: $color-solitude-2;

    .toggle-transport__icon {
      opacity: 0.2;
      color: $color-catalina-blue;
    }
  }

  input:checked + .toggle-transport__icon {
    svg {
      color: $color-catalina-blue;
      opacity: 1;
    }
  }

  input:checked:hover + .toggle-transport__icon{
      svg {
        opacity: 0.7;
      }
    }

  input:checked:active + .toggle-transport__icon {
    background-color: $color-solitude-2;

    svg {
      opacity: 0.3;
    }
  }
}

